<div>First Name: {{userInfo.firstName}}</div>
<div>Last Name: {{userInfo.lastName}}</div>
<div>Email: {{userInfo.email}}</div>


<br/><br/>

<a href="/user/edit/{{userInfo._id}}"> Edit </a> &nbsp;&nbsp;


<form method="POST" action="/user/delete/{{userInfo._id}}?_method=DELETE">
    <button type="submit">Delete </button>
</form>