{{#each errors}}
<div class="error">  {{this}} </div>
{{/each}}

<form method="POST" action="/room/addRoom">

  <label> Title </label>
  <input type="text" id="title" name="title" value="{{title}}"> <br><br>
  
  <label> Address </label>
  <input type="text" id="address" name="address" value="{{address}}"> <br><br>
  
  <label> City </label>
  <input type="text" id="city" name="city" value="{{city}}"> <br><br>

  <label> Price per night: </label>
  <input type="text" id="owner" name="price" value="{{price}}"> <br><br>

  <label> Property owner: </label>
  <input type="text" id="owner" name="owner" value="{{owner}}"> <br><br>

  <label> Amenities: </label>
  <input type="text" id="Amenities" name="amenities1" value="{{amenities1}}"> <br>
  <input type="text" id="Amenities" name="amenities2" value="{{amenities2}}"> <br>
  <input type="text" id="Amenities" name="amenities3" value="{{amenities3}}"> <br>
  <input type="text" id="Amenities" name="amenities4" value="{{amenities4}}"> <br>
  <input type="text" id="Amenities" name="amenities5" value="{{amenities5}}"> <br>
  
  <br><br>

  <label> Description </label>
  <textarea id="description" name="description">{{description}}</textarea> <br><br>
  

  <label> Room Image </label>
  <input type="text" id="image" name="image" value="{{image}}"> <br><br>

  {{!-- <div class="custom-file">
  <input type="file" class="custom-file-input" id="customFile">
  <label class="custom-file-label" for="customFile">Choose file</label>
</div> --}}

  <input type="submit" value="Add Room">

</form>