{{!-- {{#each rm}} --}}
{{!-- <div class="container room-details">
    <img src="{{rm.image}}" class="card-img-top" alt="...">
    <div>{{rm.title}}</div>
    <div>{{rm.address}}</div>
    <div>{{rm.price}}</div>
    <div>{{rm.owner}}</div>
    <div>{{rm.amenities1}}</div>
    <div>{{rm.amenities2}}</div>
    <div>{{rm.amenities3}}</div>
    <div>{{rm.amenities4}}</div>
    <div>{{rm.amenities5}}</div>
    <div>{{rm.city}}</div>
</div>
<br/> --}}

<div class="container room-container roomWrapper">
    <li class="card-deck">
    <div class="card">
        <img src="{{rm.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="card-header text-center"> 
          <h5 class="card-title room-title">{{rm.title}}</h5>
          </div>
          <div class="room-body">
          <div class="card-text addressWrap">  
            <a ><strong>Location: </strong> {{rm.city}}</a> <br>
            <div><strong>Address: </strong> {{rm.address}}</div>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><strong>Price per night: </strong>${{rm.price}}</li>
            <li class="list-group-item"><strong>Owner: </strong>{{rm.owner}}</li>
          </ul>
          <div> 
           <ul class="amenitiesContainer list-group">    
            <li class="list-group-item" ><strong>Amenities: </strong></li>
            <li class="list-group-item">{{rm.amenities1}}</li>
            <li class="list-group-item">{{rm.amenities2}}</li>
            <li class="list-group-item">{{rm.amenities3}}</li>
            <li class="list-group-item">{{rm.amenities4}}</li>
            <li class="list-group-item">{{rm.amenities5}}</li>
            </ul>
          </div>
          </div>  
            {{!-- <div>{{rm.address}}</div>
    <div>{{rm.price}}</div>
    <div>{{rm.owner}}</div>
    <div>{{rm.amenities1}}</div>
    <div>{{rm.amenities2}}</div>
    <div>{{rm.amenities3}}</div>
    <div>{{rm.amenities4}}</div>
    <div>{{rm.amenities5}}</div>
    <div>{{rm.city}}</div>
        </div> --}}
        <div class="card-footer text-center">
            {{#if userInfo}}
            <a href="/room/bookRoom/{{rm._id}}">
              <button type="button" class="btn btn-primary">Book room</button>
            </a>
            {{else}}   

             <a href="/user/login" >PLEASE LOGIN TO BOOK ROOM
             </a>
            {{/if}}
        </div>
</div>
{{!-- {{/each}} --}}








{{!-- <br/> --}}

{{!-- <a href="/room/edit/{{rm._id}}"> Edit </a> &nbsp;&nbsp;


<form method="POST" action="/room/delete/{{rm._id}}?_method=DELETE">
    <button type="submit">Delete </button>
</form> --}}
{{!-- <br/>
<br/>
</div>
</div> --}}