{{#each rm}}
<div class="container room-details">
    <img src="{{this.image}}" class="card-img-top" alt="...">
    <div>{{this.title}}</div>
    <div>{{this.address}}</div>
    <div>{{this.price}}</div>
    <div>{{this.owner}}</div>
    <div>{{this.amenities1}}</div>
    <div>{{this.amenities2}}</div>
    <div>{{this.amenities3}}</div>
    <div>{{this.amenities4}}</div>
    <div>{{this.amenities5}}</div>
    <div>{{this.city}}</div>
</div>
<br/>
{{/each}}

{{!-- <div>
<div class="">Title:  {{this.title}} </div>
<div class="">address:  {{this.address}} </div>
<div class="">price:  {{this.price}} </div>
<div class="">owner:  {{this.owner}} </div>
<div class="">amenities1:  {{this.amenities1}} </div>
<div class="">amenities2:  {{this.amenities2}} </div>
<div class="">amenities3:  {{this.amenities3}} </div>
<div class="">amenities4:  {{this.amenities4}} </div>
<div class="">amenities5:  {{this.amenities5}} </div>
<div class="">Address:  {{this.address}} </div>
<a class="city">city:  {{this.city}} </a>
<div class="">Description:  {{this.description}} </div>
<div class="">Image:  {{this.image}} </div> --}}
{{!-- <img src={{this.image}}/> --}}


{{!-- <br/> --}}

{{!-- <a href="/room/edit/{{this._id}}"> Edit </a> &nbsp;&nbsp;


<form method="POST" action="/room/delete/{{this._id}}?_method=DELETE">
    <button type="submit">Delete </button>
</form> --}}
{{!-- <br/>
<br/>
</div>
</div> --}}